@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #5EB877;
}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/DINRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/DINBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FoulFiend';
    src: url('/fonts/FoulFiend.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@layer components {
    .foulfiend {
        font-family: foulfiend
    }

    .text-shadow{
        text-shadow: 4px 4px 2px black
    }

    .box-shadow{
        box-shadow: 4px 4px 2px black;
    }


}

body {
    font-family: 'DIN', sans-serif;
}