.parent{
    border: 1px solid rgb(206, 206, 206);
    border-bottom: 0px;
    height: 96px;
    width: 429px;
    display: flex;
    box-shadow: 2px 2px 4px rgb(97, 97, 97);
    overflow: hidden;

    position: relative;
}


.imgContainer{
    height: 96px;
    width: 96px;
    overflow: hidden;
}

.img{
    height: 128px;
    width: 96px;
    object-fit: cover;
    object-position: top center;
    transform-origin: top;
    transform: scale(3) translate(3px, -16px);
}

.textContainer{
    display: flex;
    flex-direction: column;
    padding: 8px 12px 8px 12px;
    flex: 1;
    gap: 8px;
}

.title{
    font-weight: 700;
    font-size: 13px;
}

.links{
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.link{
    font-size: 13px;
}