.parent{
    /* border: 1px solid rgb(158, 158, 158); */
    height: 96px;
    width: 384px;
    display: flex;
    box-shadow: 2px 2px 2px rgb(97, 97, 97);
    position: relative; 
    cursor: pointer;
}

.parent:hover{
    /* background-color: rgb(182, 255, 186); */
    background-color: var(--third)
}


.img{
    height: 96px;
    width: 96px;
    object-fit: cover;
}

.textContainer{
    display: flex;
    flex-direction: column;
    padding: 8px 12px 8px 12px;
    flex: 1;
    gap: 8px;
}

.title{
    font-weight: 700;
    font-size: 19px;
}

.descriptionContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}

.descriptionItem{
    font-size: 16px;
    color: rgb(74, 74, 74)
}

.linkIcon{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 11px;
}