.parent{
    display: flex;
    flex-direction: column;
}

.tournamentContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.a{
    font-size: 19px;
    font-weight: bold;
    margin: 32px;
    align-self: center;
}

.icon{
    margin-left: 8px;
    font-size: 13px;
}