.parent{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerSection{
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.header{
    text-align: center;
    font-size: 47px;
    margin-top: 32px;
    margin-bottom: 16px
    /* font-family: FoulFiend; */
}

.groups{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p{
    font-size: 19px;
    margin: 8px;
}

.icon{
    margin-right: 16px;
}

.searchBar{
    display: flex;
    align-items: center;

    background-color: white;
    border: 1px solid grey;

    width: 600px;

    box-shadow: 6px 6px 2px black;
}

.searchButton{
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    /* border-bottom-left-radius: 20px;
    border-top-left-radius: 20px; */
}

.sliderButton{
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    /* border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; */
}

.searchInput{
    border: none;
    flex-grow: 1;
    padding: 10px;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
    width: 100%;
    font-size: 13px;
}

.searchInput:focus{
    outline: none;
}

.bigSearchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px 32px 8px 32px;
    border: none;
    background: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 6px 6px 2px black;
    cursor: pointer;
}

.bigSearchButton:hover{
    background: rgb(219, 219, 219);
}